* {
  box-sizing: border-box;
}
body {
  margin: 4em;
  margin-left: 6em;
  font-family: 'lato', sans-serif;
  font-size: 12pt;
  color: hsl(20, 10%, 80%);
  background-size: cover;
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(to left, black 30%, white 100%), url(DudleyCafe.JPG);
  background-blend-mode: darken;
}
#graphic {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#text {
  max-width: 350px;
  margin-left: 80px;
  align-items: center;
}
svg {
  background-color: hsla(0,10%,90%,.97);
  font-size: 11pt;
}
.horizontal-bar {
  width: 500px;
  display: flex;
  padding: 1em;
  justify-content: space-around;
  justify-self: stretch;
  font-size: 9pt;
  color: hsl(20,10%,60%);
}
.top {
  font-size: 15pt;
  font-weight: bold;
  font-family: Lato, serif;
  background-color: #009BA2;
  color: hsl(0,10%,90%);
}

.footnote {

}
