* {
  box-sizing: border-box;
}
body {
  margin: 4em;
  font-family: 'lato', sans-serif;
  font-size: 12pt;
  color: hsl(20, 10%, 80%);
  background-image: url("DudleyCafe.JPG");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
svg {
  background-color: hsl(0,10%,90%);
  font-size: 11pt;
}
.key {
  height: 120px;
  width: 400px;
  background-color: #eee;
  color: #111;
  border: 1px solid black;
  font-family: Palatino, serif;
  font-size: 11px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 40px;
}
.black {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: hsl(0,40%,60%);
}
.white {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: hsl(250,40%,60%);
}
.burden {
  width: 10px;
  height: 10px;
  background-color: hsl(300,40%,60%);
}
.horizontal-bar {
  width: 500px;
  display: flex;
  padding: 1em;
  justify-content: space-around;
  justify-self: stretch;
  font-size: 9pt;
  color: hsl(20,10%,60%);
}
.top {
  font-size: 15pt;
  font-weight: bold;
  font-family: Palatino, serif;
  background-color: #009BA2;
  color: hsl(0,10%,90%);
}

.footnote {

}
