body {
  font-family: "Roboto Slab", serif; 
  background: #263D42;
  color: #ecf0f0;
  font-size: 16px;
}
body p, h1, h2, h3, h4, section, nav, footer, div {
color: #ecf0f0;
max-width: 650px;
line-height: 1.5;
margin-left: auto;
margin-right: auto;
letter-spacing: .15px;
}
nav {
  padding-top: 20px;
}
img {
  max-width: 100%;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #eee;
  font-size: 15px;
}
nav li {
  display: inline;
  padding: 15px;
}
nav a {
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
h1 {
  font-weight: 300;
  font-size: 2.4em;
  margin-bottom: 0;
}
a {
  color: gold;
}
a:hover {
  color: #DF4949;
}
footer {
	font-size: 10px;
  font-family: "Roboto Condensed", sans-serif;
}
button {
  width: 45px;
  height: 17px;
  margin: auto;
  font-family: "Roboto Condensed", sans-serif;
  border: 1px solid black;
  color: #263D42;
  font-size: 12px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #ecf0f0;
}
.container {
	display: flex;
	flex-direction: column;
}
.black {
  fill: #DF4949; 
  background: 
  #DF4949;
}
.white {
  fill: #E27A3F; 
  background: #E27A3F;
}
.hispanic {
  fill: #EFC94C; 
  background: #EFC94C;
}

.asian {
  fill: #9B59B6; 
  background: #9B59B6;
}

.nativeamerican {
  fill: #3498db; 
  background: #3498db;
}

.nativepacific {
  fill: #F495A3; 
  background: #F495A3;
}

.other {
  fill: #45B29D; 
  background: #45B29D;
}

.legend { 
  list-style: none; 
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  height: 20px;
}

.legend div { 
  text-align: center;
  margin: 4px; 
  border-radius: 2px;
}
.explainer {
  font-family: "Roboto Condensed", sans-serif;
}
.graphicContainer {
  display: flex;
  flex-direction: column;
}
.keyGraph {
  display: flex;
  flex-direction:row;
  flex-wrap: no wrap;
}
#theYear {
  font-size: 40px;
}
