body {
  font-family: "Roboto Slab", serif; 
  background: #2A3A3D;
  color: #ecf0f0;
  font-size: 16px;
}
body p, h1, h2, h3, h4, section, nav, footer, div {
  color: #ecf0f0;
  max-width: 650px;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
}
body p, section, nav, footer {
  letter-spacing: .15px;
}
h1, h2, h3, h4 {
  letter-spacing: .5px;
}
h4 {
  font-variant: small-caps;
}
nav {
  padding-top: 20px;
}
img {
  max-width: 100%;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #eee;
  font-size: 15px;
}
nav li {
  display: inline;
  padding: 15px;
}
nav a {
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
h1 {
  font-weight: 300;
  font-size: 2.4em;
  margin-bottom: 0;
}
a {
  color: gold;
}
a:hover {
  color: #DF4949;
}
footer {
	font-size: 10px;
  font-family: "Roboto Condensed", sans-serif;
}
button {
  width: 45px;
  height: 17px;
  margin: auto;
  font-family: "Roboto Condensed", sans-serif;
  border: 1px solid black;
  color: #2A3A3D;
  font-size: 12px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #ecf0f0;
}
.container {
	display: flex;
	flex-direction: column;
}
.black {
  fill: #799DB4; 
  background: #799DB4;
}
.white {
  fill: #F1AB86; 
  background: #F1AB86;
}
.hispanic {
  fill: #F7BB4C; 
  background: #F7BB4C;
}

.asian {
  fill: #C0BCB5; 
  background: #C0BCB5;
}

.nativeamerican {
  fill: #70A288; 
  background: #70A288;
}

.nativepacific {
  fill: #F46D69; 
  background: #F46D69;
}

.other {
  fill: #C28CAE; 
  background: #C28CAE;
}

.legend { 
  list-style: none; 
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  height: 20px;
}

.legend div { 
  text-align: center;
  margin: 4px; 
  border-radius: 2px;
}
.explainer {
  font-family: "Roboto Condensed", sans-serif;
}
.graphicContainer {
  display: flex;
  flex-direction: column;
}
.keyGraph {
  display: flex;
  flex-direction:row;
  flex-wrap: no wrap;
}
#theYear {
  font-size: 40px;
}
